.personje {
  background: url("../images/sprites/player.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 40px;
}
.parado-derecha {
  background-position: 0px 0px;
  animation: animacion-parado 1.8s steps(1) infinite;
}
.parado-izquierda {
  background-position: 0px 0px;
  transform: scaleX(-1);
  animation: animacion-parado 1.8s steps(1) infinite;
}
.caminar-derecha {
  background-position: 0px -33px;
  animation: animacion-caminar 0.8s steps(1) infinite;
}
.caminar-izquierda {
  background-position: 0px -33px;
  transform: scaleX(-1);
  animation: animacion-caminar 0.8s steps(1) infinite;
}
.atacar-derecha {
  background-position: 0px -129px;
  animation: animacion-atacar 0.8s steps(1) infinite;
}
.atacar-izquierda {
    background-position: 0px -129px;
    transform: scaleX(-1);
    animation: animacion-atacar 0.8s steps(1) infinite;
}
.saltar-derecha {
  background-position: 0px -161px;
  animation: animacion-saltar 0.8s steps(1) infinite;
}
.saltar-izquierda {
  background-position: 0px -161px;
  transform: scaleX(-1);
  animation:  animacion-saltar  0.8s steps(1) infinite;
}

@keyframes animacion-parado {
  0% {
    background-position: 0px 0px;
  }
  8.333333333% {
    background-position: -32px 0px;
  }
  16.666666666% {
    background-position: -64px 0px;
  }
  24.99999% {
    background-position: -96px 0px;
  }
  33.33333% {
    background-position: -128px 0px;
  }
  41.666666% {
    background-position: -160px 0px;
  }
  49.99999% {
    background-position: -192px 0px;
  }
  58.33333% {
    background-position: -224px 0px;
  }
  66.666666% {
    background-position: -256px 0px;
  }
  74.999999% {
    background-position: -288px 0px;
  }
  83.33333% {
    background-position: -320px 0px;
  }
  91.666666% {
    background-position: -352px 0px;
  }
  100% {
    background-position: -384px 0px;
  }
}

@keyframes animacion-caminar {
  0% {
    background-position: 0px -33px;
  }
  14.2857% {
    background-position: -32px -33px;
  }
  28.5714% {
    background-position: -64px -33px;
  }
  42.8571% {
    background-position: -96px -33px;
  }
  57.1428% {
    background-position: -128px -33px;
  }
  71.4285% {
    background-position: -160px -33px;
  }
  85.7142% {
    background-position: -192px -33px;
  }
  100% {
    background-position: -224px -33px;
  }
}

@keyframes animacion-atacar {
  0% {
    background-position: 0px -129px;
  }
  14.2857% {
    background-position: -32px -129px;
  }
  28.5714% {
    background-position: -64px -129px;
  }
  42.8571% {
    background-position: -96px -129px;
  }
  57.1428% {
    background-position: -128px -129px;
  }
  71.4285% {
    background-position: -160px -129px;
  }
  85.7142% {
    background-position: -192px -129px;
  }
  100% {
    background-position: -224px -129px;
  }
}

@keyframes animacion-saltar {
  0% {
    background-position: 0px -161px;
  }
  20% {
    background-position: -32px -161px;
  }
  40% {
    background-position: -64px -161px;
  }
  60% {
    background-position: -96px -161px;
  }
  80% {
    background-position: -128px -161px;
  }
  100% {
    background-position: -160px -161px;
  }
}
